* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url(img/bg.jpeg);
}

form {
    box-shadow: 2px 6px 100px #ffffff;
}

.sub-topics {
    font-size: 1.4rem;
}

.error-msg {
    height: 10px;
    color: yellow;
}

.horizontal-rule {
    margin-bottom: -8px;
}